* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
  --dark: #34495E;
  --light: #ffffff;
  --success: #0ABF30;
  --error: #E24D4C;
  --warning: #E9BD0C;
  --info: #3498DB;
}
body {
    font-family: sans-serif;
}
[class$='container'] {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
.buttons__container {
    padding: 2rem 0;
}
.indices-compra-venta__wrapper {
    padding: 1rem 0;
}
.sell-purchase__container {
    display: flex;
    gap: 1rem;
    padding: 0rem 0;
}
[class*='message__'] {
    margin: .5rem 0;
}
.input__data {
    display: flex;
    flex-direction: column;
}
.data__sell, .data__purchase {
    display: grid;
    gap: 2rem;
}
.selectIndex {
    all: unset;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: black;
    background-color: #007ACC;
    color: white;
    padding: 1rem;
    border-radius: 5px;
    transition: background-color .3s ease;
}
.selectIndex:hover {
    background-color: #3a94cf;
}
.modal {
    position: fixed;
    background-color: #333333;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;

    --opacity: 0;
    --pointer: none;
    opacity: var(--opacity);
    pointer-events: var(--pointer);
    transition: opacity .5s ease-in;
}
.modal.target {
    --opacity: 1;
    --pointer: unset;
}
.modal__container {
    position: relative;
    background: rgb(164, 164, 33);
    width: 90%;
    max-width: 900px;
    margin: auto;
    overflow: hidden;
    padding: 2.5rem 1.5rem;
    text-align: center;
    border-radius: 1rem;
}
.modal.target .modal__container {
    /* Wait 5 seconds because modal transition is set to 5 seconds */
    /* backwards is set to prevent the element from being position as if it doesnt have the styles in the animation. 
    backwards makes the element to take the style at 0% in the animation while waiting to start the animation. The animations starts in .5s*/
    animation: show 1s .5s backwards;
}
@keyframes show {
    0% {
        transform: translateY(-150vh);
    }
    100% {
        transform: translateY(0);
    }
}
.modal__button-close {
    position: absolute;
    right: 6px;
    top: 5px;
    text-decoration: none;
    background-color: #3a94cf;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #183f59;
    color: #183f59;
    cursor: pointer;
}
.modal__button-close:hover {
    border-color: rgb(152, 24, 24);
    color: rgb(152, 24, 24);
}

.inpc__arrows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}
.back_arrow, .forward_arrow {
    all: unset;
    font-size: 1.5em;
    /* padding: .5rem; */
    font-weight: bold;
    border-radius: 50%;
    cursor: pointer;
    background-color: #007ACC;
    transition: background-color .3s ease;
    transition: transform .1s ease;
    height: 45px;
    width: 45px;
    line-height: 45px;
}
.back_arrow:hover, .forward_arrow:hover {
    background-color: #1c9aed;
    
}
.back_arrow:active, .forward_arrow:active {
    transform: scale(1.2);
}
.currentSelectedYear {
  /* padding: 1rem 0; */
  font-size: 20px;
  font-weight: bold;
}
.inpc__indices {
  /* padding: 5px; */
  position: relative;
  overflow-x: hidden;
  width: 100%;
  /* border-radius: 13px; */
  margin: 0 auto;
}
.icon-date {
  position: absolute;
  top: 0;
  height: 100%;
  width: 120px;
  display: flex;
  align-items: center;
  pointer-events: none;
}
.icon-date:first-child {
  left: 0;
  display: none;
}
.icon-date:last-child {
  right: 0;
  justify-content: flex-end;
}
.icon-date i {
  width: 35px;
  height: 35px;
  cursor: pointer;
  font-size: 1.2rem;
  text-align: center;
  line-height: 35px;
  border-radius: 50%;
  pointer-events: auto;
}
.icon-date i:hover {
  background: #efedfb;
}
.icon-date:first-child i {
  margin-left: 15px;
} 
.icon-date:last-child i {
  margin-right: 15px;
}
.inpc__indices .date__tabs__box {
  display: flex;
  gap: 12px;
  list-style: none;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.date__tabs__box.dragging {
  scroll-behavior: auto;
  cursor: grab;
}
.date__tabs__box .tab__date {
  cursor: pointer;
  font-size: 1.18rem;
  white-space: nowrap;
  background: #007ACC;
  padding: 13px 20px;
  border-radius: 30px;
  color: #d8d5f2;
}
.date__tabs__box .tab__date:hover {
  color: black;
}
.date__tabs__box.dragging .tab__date {
  user-select: none;
  pointer-events: none;
}
.date__tabs__box .tab__date.active{
  color: #fff;
  background: #5372F0;
  border-color: transparent;
}




.menu {
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu li {
    background-color: #007ACC;
    display: inline-block;
}
.nav {
    margin: 2rem 0;
}




@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.wrapper {
  padding: 35px;
  position: relative;
  overflow-x: hidden;
  max-width: 1200px;
  background: #fff;
  border-radius: 13px;
  margin: 0 auto;
}
.wrapper .icon {
  position: absolute;
  top: 0;
  height: 100%;
  width: 120px;
  display: flex;
  align-items: center;
}
.icon:first-child {
  left: 0;
  display: none;
  background: linear-gradient(90deg, #fff 70%, transparent);
}
.icon:last-child {
  right: 0;
  justify-content: flex-end;
  background: linear-gradient(-90deg, #fff 70%, transparent);
}
.icon i {
  width: 55px;
  height: 55px;
  cursor: pointer;
  font-size: 1.2rem;
  text-align: center;
  line-height: 55px;
  border-radius: 50%;
}
.icon i:hover {
  background: #efedfb;
}
.icon:first-child i {
  margin-left: 15px;
} 
.icon:last-child i {
  margin-right: 15px;
} 
.wrapper .tabs-box {
  display: flex;
  gap: 12px;
  list-style: none;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.tabs-box.dragging {
  scroll-behavior: auto;
  cursor: grab;
}
.tabs-box .tab {
  cursor: pointer;
  font-size: 1.18rem;
  white-space: nowrap;
  background: #f5f4fd;
  padding: 13px 20px;
  border-radius: 30px;
  border: 1px solid #d8d5f2;
}
.tabs-box .tab:hover{
  background: #efedfb;
}
.tabs-box.dragging .tab {
  user-select: none;
  pointer-events: none;
}
.tabs-box .tab.active{
  color: #fff;
  background: #5372F0;
  border-color: transparent;
}







.notifications {
  position: fixed;
  top: 30px;
  right: 20px;
}
.notifications :where(.toast, .column) {
  display: flex;
  align-items: center;
}
.notifications .toast {
  width: 400px;
  position: relative;
  overflow: hidden;
  list-style: none;
  border-radius: 4px;
  padding: 16px 17px;
  margin-bottom: 10px;
  background: var(--light);
  justify-content: space-between;
  animation: show_toast 0.3s ease forwards;
}
@keyframes show_toast {
  0% {
    transform: translateX(100%);
  }
  40% {
    transform: translateX(-5%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-10px);
  }
}
.notifications .toast.hide {
  animation: hide_toast 0.3s ease forwards;
}
@keyframes hide_toast {
  0% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(calc(100% + 20px));
  }
}
.toast::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  animation: progress 5s linear forwards;
}
@keyframes progress {
  100% {
    width: 0%;
  }
}
.toast.success::before {
  background: var(--success);
}
.toast.error::before {
  background: var(--error);
}
.toast.warning::before {
  background: var(--warning);
}
.toast.info::before {
  background: var(--info);
}
.toast .column i {
  font-size: 1.75rem;
}
.toast.success .column i {
  color: var(--success);
}
.toast.error .column i {
  color: var(--error);
}
.toast.warning .column i {
  color: var(--warning);
}
.toast.info .column i {
  color: var(--info);
}
.toast .column span {
  font-size: 1.07rem;
  margin-left: 12px;
}
.toast i:last-child {
  color: #aeb0d7;
  cursor: pointer;
}
.toast i:last-child:hover {
  color: var(--dark);
}

@media screen and (max-width: 530px) {
  .notifications {
    width: 95%;
  }
  .notifications .toast {
    width: 100%;
    font-size: 1rem;
    margin-left: 20px;
  }
}